@import (reference) "base.less";

//---------------------------------------------- 数据属性信息 顶部分类（数据概览，账号信息） ------------------------------------------------------

.data-property{
  .icon{
    .flo();
    background: url('@{url}/data-icon.png') no-repeat;
  }
  margin: 40px 40px 10px;
  border-bottom: 1px solid @lineColor1;
  position: relative;
  li{
    margin-bottom: 15px;
    padding-left: 80px;
    font-size: 16px;
    line-height: 19px;
    color: @grayColor;
    position: relative;
    min-height: 30px;
    div{
      display: inline-block;
    }
    .t{
      position: absolute;
      left: 0;
      top: 0;
      width: 76px;
      text-align: right;
      padding-right: 5px;
      .icon{
        .wh(20px);
        position: absolute;
        left: 0;
        top: 0;
      }
      .icon02{
        background-position: 0 -21px;
      }
      .icon03{
        background-position: 0 -42px;
        top: 2px;
      }
      .icon04{
        background-position: -20px -128px;
      }
      .icon05{
        background-position: -40px -128px;
      }
      .icon06{
        background-position: -60px -128px;
      }
      .icon07{
        background-position: -20px -148px;
      }
      .icon08{
        background-position: -60px -148px;
      }
      span{
        color: #8b8da6;
      }
    }
    .p{
      em{
        display: inline-block;
        color: #7B7B7B;
      }
      span{
        display: inline-block;
        padding: 0 15px 10px;
        &:first-child{
        }
      }
    }
  }
  .account{
    li{
      .icon03{
        background-position: -40px -148px;
        top: 0;
      }
    }
  }
  .btn-edit{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: @whiteColor;
    font-size: 16px;
    background: @greenColor;
    border: none;
    border-radius: 30px;
    margin: 0 auto;
    .icon{
      .wh(19px);
      position: absolute;
      left: 25px;
      top: 13px;
    }
    .icon04{
      background-position: 0 -142px;
    }
    span{
      padding-left: 20px;
    }
    &:hover{
      background-color: lighten(@greenColor,3%); //亮度增加 3%
    }
  }
}
