@import (reference) "base.less";
//---------------------------------------------- 数据表格 ------------------------------------------------------
.data-code{
  text-align: right;
  font-size: 14px;
  padding-bottom: 10px;
  color: @violeText;
}
.no-data{
  text-align: center;
  font-size: 16px;
  color: @violeText;
  padding: 70px 0;
  background-color: #f7f7fb;
  margin-top: 10px;
}
.data-table{
  background-color:@whiteColor;
  position: relative;
  table{
    width: 100%;
    th,td{
      font-size: 14px;
      text-align: center;
    }
    .w50{
      width: 50px;
      text-align: center;
      padding: 15px 0;
    }
    .w80{
      width: 80px;
      text-align: center;
      padding: 15px 0;
    }
    .w110{
      width: 110px;
    }
    .w120{
      width: 120px;
    }
    .w140{
      width: 140px;
    }
    .w160{
      width: 160px;
    }
    .w190{
      width: 190px;
    }
    .w200{
      width: 200px;
    }
    td{
      padding: 15px 0;
      background-color: #f8f8fc;
      a{
        color: @greenText;
        margin:0 10px;
        display: inline-block;
        &.news{
          background-color: @greenColor;
          color: @whiteColor;
          height: 30px;
          line-height: 30px;
          padding: 0 20px;
          border-radius: 30px;
          &:hover {
            background-color: lighten(@greenColor, 3%);
            text-decoration: none;
          }
        }
        &:hover{
          text-decoration: underline;
        }
      }
      &.result{
        width: 35%;
        padding: 15px;
        text-align: left;
        p{
          line-height: 20px;
          &.red{
            color: @redColor;
          }
        }
      }
    }
    th{
      background: @violetColor2;
      color: @whiteColor;
      font-weight: normal;
      padding: 12px 0;
    }
    .tr2{
      td{
        background: #e6e6f1;
      }
    }
  }
  .score-table{
    th,td{
      padding: 10px 0;
      background: @whiteColor;
    }
    th,.name{
      display: inline-block;
      text-align: right;
      font-weight: normal;
      color: #8b8da6;
      width: 170px;
    }
    td{
      text-align: left;
    }
    .num{
      text-align: left;
      font-size: 16px;
      color: #4c4c4c;
    }
  }
}
.filters-table{
  table{
    td{
      text-align: left;
      padding: 15px;
    }
  }
}