@import (reference) "base.less";

#shadowLayer{
  .wh();
  background-color: @blackColor;
  opacity: 0.3;
  filter:Alpha(opacity=30);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10001;
}
.dialog{
  display: none;
  border-radius: 10px;
  background-color: @whiteColor;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10002;
  .icon{
    .flo();
    background: url('@{url}/dialog-icon.png') no-repeat 0 0;
    &.phone{
      .flo();
      background-position: -101px -54px;
      width: 12px;
      height: 18px;
      margin-top: -9px;
    }
  }
  .data-textarea{
    font-size: 14px;
    position: relative;
    padding-bottom: 30px;
    margin-top: -10px;
    span{
      color: @grayColor2;
    }
    textarea{
      margin: 0 10px;
      vertical-align: top;
      width: 320px;
      max-width: none;
    }
  }
  p{
    &.error {
      clear: both;
      font-size: 14px;
      color: @redColor;
      padding: 8px 0 0 70px;
    }
  }
}
.dialog-close{
  .wh(24px);
  border-radius: 50%;
  position: absolute;
  top: 16px;
  right: 16px;
  .transition(transform,300ms,linear);
  &:hover{
    .transform(rotate(180deg));
  }
}
.dialog-header{
  padding: 30px 30px 20px;
  height: 24px;
  h4{
    font-size: 18px;
    line-height: 24px;
    color: @grayColor;
    span{
      padding: 0 8px;
    }
  }
}
.dialog-body{
  padding: 0 42px;
  .scroll-warp{
    max-height: 350px;
    margin-right: -20px;
    &.w540{
      width: 560px;
    }
    &.w640{
      width: 660px;
    }
    &.w740{
      width: 760px;
    }
    &.w800{
      width: 820px;
    }
  }
  .scroll-content{
    padding-right: 0;
  }
  .data-marketing{
    .data-section{
      dt{
        line-height: 17px;
        font-size: 14px;
      }
      dd{
        padding: 10px 20px 20px;
        .query-warp{
          overflow: hidden;
          background-color: #f4f4f4;
          padding: 20px 0 0 0;
          width: 680px;
          &>li{
            min-width: 100px;
            padding: 0 0 0 25px;
            &.hang{
              padding-left: 25px;
            }
            label{
              height: 30px;
              line-height: 30px;
              width: auto;
              position: relative;
              float: left;
              padding-right: 10px;
            }
            .hang-check{
              float: left;
              padding-right: 30px;
              height:30px;
              line-height: 30px;
              span{
                font-size: 14px;
              }
              .icon{
                margin-top: 5px;
              }
            }
            .hang-input{
              display: none;
            }
          }
        }
      }
      .query-warp{
        li{
          &.checked{
            .hang-input{
              display: block;
            }
          }
        }
      }
    }
  }
}
.dialog-footer{
  padding: 20px 0 40px;
  text-align: center;
  font-size: 0;
  position: relative;
  .btn{
    display: inline-block;
    margin: 0 10px;
    line-height: 36px;
    font-size: 16px;
    &:hover{
      box-shadow:none;
    }
  }
}
.query-warp{
  width: 100%;
  &>li{
    min-height: 60px;
    position: relative;
    padding-left: 95px;
    &.check120{
      height: 120px;
    }
    &>label{
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 41px;
      font-size: 14px;
      line-height: 41px;
      text-align: right;
      color: @grayColor2;
      cursor: inherit;
      &.w110{
        width: 110px;
      }
      em{
        &.tips{
          position: relative;
          top: -10px;
        }
      }
    }
    p{
      &.text {
        font-size: 16px;
        line-height: 41px;
        color: @grayColor;
        display: inline-block;
      }
      a{
        color: @blueColor;
      }
      &.error {
        padding: 8px 0;
      }
      &.tips{
        font-size: 14px;
        color: @tipsText;
        line-height: 41px;
        display: inline-block;
        &.block{
          display: block;
          line-height: 30px;
          padding: 0 0 5px;
        }
      }
    }
    .calendar-warp {
      margin-right: 10px;
      input{
        &.date{
          height: 41px;
          line-height: 39px\9;
          float: left;
        }
      }
    }
    em{
      &.or{
        height: 41px;
        line-height: 41px;
        line-height: 39px\9;
        padding: 0 10px 0 0;
      }
    }
    .input-warp{
      width: 340px;
      position: relative;
      input{
        &.text{
          height: 41px;
          line-height: 39px\9;
          max-width:320px;
          margin-right: 10px;
        }
      }
      &.w240{
        width: 210px;
        padding-left: 30px;
      }
    }
    .unit-warp{
      padding-right: 10px;
      position: relative;
      float: left;
      span{
        font-size: 14px;
        line-height: 30px;
        &.name{
          padding-right: 10px;
          color: @grayColor2;
        }
      }
      input{
        &.text{
          min-width: 50px;
          max-width: 80px;
          width: 60px;
          margin:0 5px;
          vertical-align: top;
          padding: 0 5px;
        }
      }
    }
    .recharge-warp{
      input{
        &.text{
          width: auto;
          height: 41px;
          line-height: 39px\9;
          max-width:200px;
          margin:0 5px;
          font-size: 16px;
        }
      }
    }
    &.li-notice{
      padding-bottom: 20px;
    }
    .notice .icon,.notice:before{
      .flo();
      background: url('@{url}/data-icon.png') no-repeat 0 0;
    }
    .notice{
      color: @redColor;
      font-size: 12px;
      line-height: 32px;
      display: inline-block;
      padding: 0 15px 0 38px;
      background-color: #fffae5;
      border: 1px solid #f0ebd5;
      position: relative;
      margin-top: 10px;
      i{
        .wh(17px);
        display: inline-block;
        position: absolute;
        top:7px;
        left: 12px;
      }
      &:before{
        display: block;
        content: '';
        width: 11px;
        height: 6px;
        .flo();
        position: absolute;
        left: 40px;
        top: -6px;
        .flo();
        background-position: -34px -13px;
      }
    }
    .select-warp {
      float: left;
      width: 375px;
    }
    .check-warp{
      &.check-limit{
        height: 100px;
        width: 340px;
        li{
          width: 33%;
          min-width: inherit;
        }
      }
    }
    &.w50{
      float: left;
      .input-warp{
        width: auto;
        min-width: 120px;
        p{
          white-space:nowrap;
        }
      }
    }
    &.w100{
      clear: both;
    }
    &.cl{
      display: inline-block;
    }
    .radio-warp{
      line-height: 41px;
      padding-right: 15px;
      height: 41px;
      font-size: 14px;
      float: left;
      .icon{
        vertical-align: middle;
        position: relative;
        top:-2px;
      }
      .radioname{
        font-size: 16px;
        color: @grayColor;
      }
    }
    .dial-select{
      width: 120px;
      padding-top: 6px;
      .select-ul{
        top: 36px;
      }
    }
    .dial-select-sms{
      width: 300px;
      padding-top: 6px;
      .select-ul{
        top: 36px;
      }
    }
    .seat-select{
      width: 100px;
      padding-top: 6px;
      .select-ul{
        top: 36px;
        height: 150px;
      }
    }
    .file-box{
      .inputbox{
        .txt{
          width: 280px;
        }
      }
    }
  }
  &.dialog-client-add,&.dialog-manua-add{
    &>li{
      &.hang{
        min-height: 40px;
        .dialog-select{
          padding-top: 10px;
        }
      }
    }
  }
  &.dialog-client-add{
    &>li{
      padding-left: 105px;
      &>label{
        width:90px;
      }
    }
  }
  &.dialog-manua-add{
    &>li{
      padding-left: 105px;
      &>label{
        width:90px;
      }
      .input-warp{
        width: 600px;
        input{
          &.text{
            max-width: 250px;
          }
        }
      }
    }
  }
}
.renewal-warp{
  .query-warp{
    background: #f5f6f8;
    overflow: hidden;
    width: 520px;
    li{
      float: left;
      .input-warp {
        width: auto;
        min-width: 120px;
      }
    }
  }
  .renewal-state{
    margin: 15px 0;
    li{
      min-height: 45px;
      position: relative;
      padding-left: 225px;
      label{
        position: absolute;
        top: 0;
        left: 0;
        width: 215px;
        height: 41px;
        font-size: 16px;
        line-height: 41px;
        text-align: right;
        color: @grayColor2;
      }
      p{
        &.text {
          font-size: 18px;
          line-height: 41px;
          color: @grayColor;
          display: inline-block;
        }
      }
    }
  }
}
.error-warp{
  text-align: center;
  padding-bottom: 10px;
  p{
    font-size: 14px;
    &.error{
      color: @redColor;
      padding: 0;
    }
  }
}
.dialog-activate{
  width: 560px;
  padding-bottom: 20px;
  .title{
    font-size: 16px;
    padding-bottom: 10px;
    color: @grayColor;
  }
  .data-table{
    table{
      td{
        padding: 15px 5px;
      }
    }
  }
  .scroll-warp{
    max-height: 210px;
  }
  .dialog-select{
    padding: 20px 0 0 21px;
  }
  .activate-state{
    text-align: center;
    overflow: hidden;
    padding: 15px 50px 0;
    li{
      float: left;
      width: 50%;
      span{
        font-size: 16px;
        line-height: 41px;
        color: @grayColor2;
        padding-right: 10px;
      }
      p{
        &.text {
          font-size: 18px;
          line-height: 41px;
          color: @grayColor;
          display: inline-block;
        }
      }
    }
  }

}
.dialog-seat-list{
    width: 640px;
    padding-bottom: 40px;
    .scroll-warp{
        max-height: 210px;
    }
    .data-export{
        padding-right: 250px;
        ul{
            li{
                margin: 0 20px 0 0;
                .num{
                    font-size: 16px;
                }
            }
        }
    }
}
.dialog-client{
  width: 700px;
  padding-bottom: 30px;
  .scroll-warp{
    max-height: 350px;
  }
}
.dialog-allocation,.dialog-recycle{
    width: 700px;
    padding-bottom: 20px;
    .mode{
        width: 100%;
        display: inline-block;
        &>li{
            position: relative;
            float: left;
            padding: 0 40px 20px 0;
            label{
                height: 30px;
                font-size: 14px;
                line-height: 30px;
                color: @grayColor2;
                float: left;
                padding-right: 10px;
            }
            .input-warp{
                float: left;
                .text{
                    height: 30px;
                    font-size: 16px;
                    line-height: 30px;
                }
                .seat-select{
                    width: 120px;
                }
            }
        }
    }
    .title{
        font-size: 16px;
        padding-bottom: 10px;
        color: @grayColor;
    }
    .check-warp{
        height: 140px;
        .clue{
            position: absolute;
            top: 7px;
            left: 180px;
            display: none;
            span{
                display: inline-block;
                line-height: 30px;
                font-size: 14px;
                color: @grayColor2;
                float: left;
                padding-right: 10px;
            }
            input{
                &.text{
                    width: 60px;
                    min-width: 60px;
                    padding: 0 5px;
                }
            }
        }
    }
    .notice .icon{
        .flo();
        background: url('@{url}/data-icon.png') no-repeat 0 0;
    }
    .notice{
        color: @redColor;
        font-size: 12px;
        line-height: 32px;
        display: inline-block;
        padding: 0 15px 0 38px;
        background-color: #fffae5;
        border: 1px solid #f0ebd5;
        position: relative;
        i{
            .wh(17px);
            display: inline-block;
            position: absolute;
            top:7px;
            left: 12px;
        }
    }
    .select-cutover2{
        .check-warp{
            span {
                max-width: 140px;
            }
        }
    }
}
.dialog-recycle{
  width: 600px;
  padding-bottom: 10px;
  .check-warp{
    height: auto;
    span{
      &.name{
        width: 140px;
      }
    }
    .dial{
      position: absolute;
      left: 180px;
      top: 0;
      span{
        display: inline-block;
        line-height: 43px;
        font-size: 14px;
        color: @grayColor2;
        float: left;
        padding-right: 10px;
      }
    }
    .recycle-all{
      clear: both;
      padding: 20px 0 5px;
      text-align: center;
      span{
        font-size: 16px;
        line-height: 43px;
        &.num{
          font-size: 22px;
          padding-left: 10px;
        }
        &.tips{
          display: block;
          font-size: 14px;
          color: @grayColor2;
          line-height: 18px;
        }
      }
    }
  }
}
.pop-manager{
  padding: 70px 60px;
  text-align: center;
  p{
    font-size: 20px;
    color: @grayColor;
  }
}
.pop-default{
  padding: 40px 50px;
  text-align: center;
  max-width: 480px;
  &.nop10{
    padding-bottom: 10px;
  }
  p{
    font-size: 18px;
    color: @grayColor;
    padding: 30px 0 10px;
    a{
      color: @greenText;
      display: inline-block;
      padding: 0 5px;
    }
    &.title{
      font-size: 20px;
      padding: 15px 0;
      position: relative;
      .icon{
        .wh(30px);
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        &.succ{
          background-position: 0 -24px;
        }
        &.fail{
          background-position: -30px -72px;
        }
        &.tips{
          background-position: -31px -24px;
        }
      }
      span{
        padding-left:40px;
        display: inline-block;
        position: relative;
        line-height: 30px;
        text-align: left;
      }
    }
  }
}

.dialog-select{
  padding-top: 10px;
  .checkall{
    .icon {
      .wh(17px);
      display: inline-block;
      background-position: 0 -55px;
    }
    &.checked{
      .icon{
        background-position: -19px -55px;
      }
    }
  }
  .checkall{
    font-size: 14px;
    height: 17px;
    line-height: 17px;
    display: inline-block;
    cursor: pointer;
    span{
      display: inline-block;
      vertical-align: top;
      padding-left: 12px;
    }
  }
}
