@import (reference) "base.less";
@navBg:#e5e5f2;
.navbox{
  width: 214px;
  height: 100%;
  background-color: @navBg;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  h1{
    padding: 50px 0 15px;
  }
  .logo{
    text-align: center;
    display: block;
    img{
      width: 163px;
      height: 34px;
      display: inline-block;
    }
  }
  ul{
    margin-top: 80px;
    width: 100%;
  }
  li{
    height: 60px;
    a{
      display: block;
      color: @violetColor;
      .wh();
      position: relative;
      span{
        font-size: 16px;
        display: block;
        height: 100%;
        line-height: 60px;
        padding-left: 70px;
      }
      .icon{
        .wh(22px);
        display: inline-block;
        margin: 20px 0 0;
        position: absolute;
        left: 35px;
        top:50%;
        margin-top: -11px;
        .flo();
        background: url('@{url}/left-icon.png') no-repeat;
      }
      .icon01{
        background-position: 0 0;//数据概览old
       }
      .icon02{
        background-position: 0 -23px;//调用详情
      }
      .icon03{
        background-position: 0 -46px;//风控查询old
      }
      .icon04{
        background-position: 0 -69px;//数据批量查询
      }
      .icon05{
        background-position: 0 -92px;//服务权限old
      }
      .icon06{
        background-position: 0 -115px;//接口文档
      }
      .icon07{
        background-position: 0 -138px;//统计报表
      }
      .icon08{
        background-position: 0 -161px;//运营商验证查询
      }
      .icon09{
        background-position: 0 -184px;//学历数据查询
      }
      .icon10{
        background-position: 0 -207px;//金融数据查询
      }
      .icon11{
        background-position: 0 -230px;//关注名单查询
      }
      .icon12{
        background-position: 0 -253px;//通话详单查询
      }
      .icon13{
        background-position: 0 -276px;//反欺诈运营报告
      }
      .icon14{
        background-position: 0 -299px;//小额现金贷规则
      }
      &:hover{
      }
    }
    &.active{
      a{
        background-color: @whiteColor;
      }
    }
  }
}