@import (reference) "base.less";
//---------------------------------------------- 标签切换 ------------------------------------------------------

.doc-warp{
  padding: 40px;
  dl{
    margin-bottom: 25px;
    color: @grayColor;
    dt{
      font-size: 18px;
      padding-bottom: 25px;
    }
    dd{
      font-size: 14px;
      padding-bottom: 15px;
      .f16{
        font-size: 16px;
      }
      a{
        color: @blueColor;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}